@model Interview

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Bilgi Ekle</h2>
            <br />
        </div>
        <div class="mb-3">
            <label asp-for="ApplicationId">Başvuru Numarası</label>
            <input asp-for="ApplicationId" class="form-control" />
        </div> 
        <div class="mb-3">
            <label asp-for="Title">Başlık</label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Participants">Katılımcılar</label>
            <input asp-for="Participants" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Notes">Notlar</label>
            <input asp-for="Notes" class="form-control" />
        </div>        
        <div class="mb-3">
            <label asp-for="Assessment">Değerlendirme</label>
            <input asp-for="Assessment" class="form-control" />
        </div>        
        <div class="mb-3">
            <label asp-for="Type">Görüşme Şekli</label>
            <input asp-for="Type" class="form-control" />
        </div>        
        <div class="mb-3">
            <label asp-for="InterviewDate">Görüşme Tarihi</label>
            <input asp-for="InterviewDate" class="form-control" />
        </div>        
        <div class="mb-3">
            <label asp-for="SalaryExpectation">Maaş Beklentisi</label>
            <input asp-for="SalaryExpectation" class="form-control" />
        </div>        
        <div class="mb-3">
            <label asp-for="AlternateRole">Alternatif Rol</label>
            <input asp-for="AlternateRole" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Onayla</button>
        <a asp-controller="Interview" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Geri Dön
        </a>
    </div>
</form>