@model IEnumerable<Interview>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-info">Ana Görüşmesi Bilgileri</h2>
        </div>       
        <div class="col-6 text-end">
            <a asp-controller="Interview" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp Bilgi Girişi</a>
        </div>
    </div>
</div>
<br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>Görüşme Türü</th>
            <th>Görüşme Tarihi</th>
            <th>Maaş Beklentisi</th>
            <th>Alternatif Rol</th>
            <th>Katılımcılar</th>
        </tr>
    </thead>

     <tbody>
       
        
            <tr> 

                <td>InterviewId2</td>
                <td>Title2</td>
                <td>Type2</td>
                <td>InterviewDate2</td>
                <td>SalaryExpectation2</td>
                <td>AlternateRole2</td>
                <td>Participants2</td>

            </tr>
        
    </tbody>
</table>