
@{
    ViewData["Title"] = "Auth";
}

<div class="border p-3 mt-4">

        <h3>Sayfa Rol Listesi</h3>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th> </th>
                    <th> Aday Listeleme</th>
                    <th>Yeni Aday Oluşturma</th>
                    <th>Kullanıcı Listeleme</th>
                    <th>Yeni Kullanıcı Oluşturma</th>
                    <th>Mülakat Bilgisi Ekleme</th>
                    <th>Mülakat Bilgileri Listeleme</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <div>
                        <td>
                            Admin
                        </td>
                    </div>
                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>
                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>
                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>

                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>

                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>
                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>

                </tr>
                <tr>
                    <td>
                        Editör
                    </td>
                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>
                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>
                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>

                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>

                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>
                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        İzleme
                    </td>
                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>
                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>
                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>

                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>

                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>
                    <td>
                        <div >
                            <input type="checkbox"></div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="border p-3 mt-4">

        <h3>Kullanıcı Rol Listesi</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <div class="mb-3">
                    <tr>
                        <th> </th>
                        <th>Admin</th>
                        <th>Editör</th>
                        <th>İzleme</th>
                    </tr>
                </div>
            </thead>
            <tbody>
                <tr>
                    <td>User-1<td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <input type="checkbox" />
                    </td>



                </tr>
                <tr>
                    <td>User-2</td>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <input type="checkbox"></td>

                </tr>
                <tr>
                    <td>
                        User-3
                    </td>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <input class="tick" type="checkbox">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

