@model HRManagementv2.Models.Media

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Media</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CandidateId" class="control-label"></label>
                <input asp-for="CandidateId" class="form-control" />
                <span asp-validation-for="CandidateId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="photoFile" class="control-label"></label>
                <input asp-for="photoFile" accept="media/photo/*" />
                <span asp-validation-for="photoFile" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="resumeFile" class="control-label"></label>
                <input asp-for="resumeFile" accept="media/resume/*" />
                <span asp-validation-for="resumeFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

