@model CandidateInf


<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Index" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
       
        <title>Bilgi Düzenle</title>
        <style>
        .column{
        float:left;
        width: 50%;
        }
        .row:after {
        content:"";
        display: table;
        clear: both;
        }
        .centralize{
        float:initial;
        width:100%;
        }
        </style>
</head>
<div class="container-fluid p-3">
    <div class="row pt-4">
        <div class="col-3 text-start">
            <h2 class="m-0 font-weight-bold text-heading">Bilgi Düzenle</h2>
        </div>
    </div>
</div>
<form method="post" >
    <div class="row">
            <div class="column">
            <label asp-for="LanguageName">Dil Adı</label>
            <input asp-for="LanguageName" class="form-control" />
            <span asp-validation-for="LanguageName" class="text-danger"></span>
            </div> 
       
        <div class="column">
            <label asp-for="LanguageLevel">Seviye</label>
            <input asp-for="LanguageLevel" class="form-control" />
            <span asp-validation-for="LanguageLevel" class="text-danger"></span>
        </div>
     
    
    
        <button type="submit" class="btn btn-primary" style="width:150px">Onayla</button>
        <a asp-controller="Candidate" asp-action="Index" class="btn btn-dark" style="width:150px">
            Geri Dön
        </a>
        </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}