@model Application

@{
        ViewData["Title"] = "Kullanıcı Kayıt";
}

<link href="@Url.Content("~/blueTheme.css")" rel="stylesheet" type="text/css"/>
<link href="@Url.Content("~/css/btnStyle.css")" rel="stylesheet" type="text/css"/>






<form method="post">
    <div class="border p-3 mt-4" >
        <div class="row pb-2" >
            <h2 class="text-primary">Başvuru Oluştur</h2>
            <hr />
        </div>
        <div class="mb-3" >
            <label asp-for="JobId">İş İlanı Kodu*</label>
            <input type="text" asp-for="JobId" class="form-control" />
            <span asp-validation-for="JobId" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="CandidateId">Aday Kodu*</label>
            <input type="text" asp-for="CandidateId" class="form-control" />
            <span asp-validation-for="CandidateId" class="text-danger"></span>

        </div> 
        <div class="mb-3">
            <label asp-for="Status">Durumu</label>
            <input type="text" asp-for="Status" class="form-control" />
            <span asp-validation-for="Status" class="text-danger"></span>


        </div>
        <div class="mb-3">
            <div class="column">
         <label asp-for="FoundFrom">Bizi Nereden Buldunuz ?*</label>
        <select asp-for="FoundFrom" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
            <option value="" disabled selected>Lütfen Seçiniz...</option>
            <option>Sosyal Meyda</option>
            <option>LinkedIn</option>
            <option>Arkadaş Önerisi</option>
            <option>Diğer</option>

        </select> </div> <!-- /.form-group -->
        </div>       

        </div>
        <button type="submit" class="btn btn-info" style="width:150px">Onayla</button>
        <a asp-controller="Application" asp-action="Index" class="btn btn-primary" style="width:150px">
            Geri Dön
        </a>
    </div>
</form>








@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
